body {
    margin-top: 50px;
}
.space {
    background-color: gray;
    height: 100vh;
}

main h1 {
    color: blue;
}

#contact {
    height: 50vh;
}
header {
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: beige;
    position: sticky;
    top: 20px;
}
nav {
    display: flex;
    gap: 20px;
    padding: 15px;
    margin: 5px;
    border: 1px solid rgb(81, 165, 33);
}
input[type="text"] {
    background-color: pink;
}

main,footer {
    background-color: rgb(141, 111, 14);
}